*{
    margin:0;
    font-family: 'Oswald',sans-serif;
    color: #ffffff
}

body {
    width: 960px;
    margin: 0 auto;
    background-color: #1a2641;
}

header {
    text-align: center;
}

header img{
    height: 95px;
    margin: 1.5rem
}

main{

}

section {
    margin: 2rem 0;
}

#bio {
    display: flex;
    /* background-color blue; */
}
#bio-img{
    height: 200px;
}

#bio-choose {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .5rem;
}

#name-date {
    display: flex;
    justify-content: space-between;
}

#choose-list {
    background-color: #545353;
    padding: 1rem 2rem;
    font-size: 1rem;
}

ul{
    padding: 10px 0px 0px 18px;
}

#tech {
    display: flex;
    justify-content: space-between;
}

#tech img {
    height:10rem;
}

figure {
    text-align: center;
    width: 12rem;
}

figcaption{
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    top:-1.5rem;
}

h2, h4 {
    color: #B9D948;
}

#interest div {
    background-color: #545353;
    padding: 1rem;
    margin-top: .75 rem;
    text-align: justify;
}

.interestText {margin-top: 1rem;}

#copyright{
    background-color: #6F56A6;
    display: flex;
    justify-content: center;
}
